.page{
  width: 100vw;
  min-height: 100vh;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.header{
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 44px;
  margin-left: 0px;
  margin-right: 0px;
  z-index: 998;
}
.main{
  width: 100vw;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 44px;
  padding-bottom: 44px;
}
.footer{
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 44px;
  margin-left: 0px;
  margin-right: 0px;
  z-index: 999;
}